body {
  padding: 0;
  margin: 0;
}

.contador {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  padding: 10px;
}

.contador-container {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.reloj {
  border: 1px solid rgb(105, 104, 104);
  background-color: rgb(34, 33, 33);
  padding: 5px;
  font-size: 6em;
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.digitos {
  display: flex;
  align-items: center;
}

.digito {
  border: 1px solid rgb(105, 104, 104);
  background-color: rgb(34, 33, 33);
  padding: 5px;
  font-size: 6em;
  margin-right: 5px;
}

.botones {
  display: flex;
  gap: 16px;
  margin-bottom: 40px;
}

.botones-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.botones button,
.input-container button,
.input-container input {
  font-size: 16px;
  padding: 8px 16px;
  margin-left: 20px;
}

.input-container input {
  width: 100px; 
  margin-right: 25px;
}

